
html, body{
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("images/wallpaper.jpg");
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	text-align: center;
}

.content h1{
	font-family: sans-serif;
	color: #F9F3F4;
	font-size: 500%;
	text-shadow: 0px 0px 300px #000;
}

.btn{
	border-radius: 9px;
	font-family: sans-serif;
	color: #036A81;
	font-size: 200%;
	padding: 10px 20px;
	border: solid #036A81 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover{
	color: #fff;
	border: solid #fff 3px;
}

ol{
	font-family: sans-serif;
	color: #F9F3F4;
	font-size: 200%;
	list-style-type: decimal;
	text-align: left;
	margin-left: 25%;
}

ol li{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text {
	text-align: left;
	margin-left: 10%;
	font-size: 200%;
	font-family: sans-serif;
	color: #F9F3F4;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}